In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('../data/raw/whole_data/realtor-data.zip.csv');
print("Data shape : " , data.shape)

Data shape :  (1401066, 10)

In [4]:
print("Data info :")
data.info()

Data info :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1401066 entries, 0 to 1401065
Data columns (total 10 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   status          1401066 non-null  object
 1   bed             1184538 non-null  float64
 2   bath            1206853 non-null  float64
 3   acre_lot        1043599 non-null  float64
 4   city            1400875 non-null  object
 5   state           1401066 non-null  object
 6   zip_code        1400587 non-null  float64
 7   house_size      950954 non-null   float64
 8   prev_sold_date  714773 non-null   object
 9   price           1400958 non-null  float64
dtypes: float64(6), object(4)
memory usage: 106.9+ MB

In [5]:
print("\nPossible no of values for : ", data['status'].value_counts())

print("\n\n Possible no value for : ", data['city'].value_counts())

print("\n\n Possible no value for : ", data['state'].value_counts())

Possible no of values for :  status
for_sale          1399134
ready_to_build       1932
Name: count, dtype: int64


 Possible no value for :  city
New York City      61299
New York           55543
Brooklyn           33491
Boston             31551
Bronx              22666
                   ...
Carversville           1
Furlong                1
Sangerville            1
Willow Grove           1
Northeast Carry        1
Name: count, Length: 3512, dtype: int64


 Possible no value for :  state
New York          653061
New Jersey        256551
Massachusetts     177170
Connecticut        98816
New Hampshire      51394
Vermont            48230
Maine              36650
Rhode Island       29610
Puerto Rico        24679
Pennsylvania       20060
Virgin Islands      2573
Delaware            2135
Georgia               50
Virginia              31
South Carolina        25
Tennessee             20
West Virginia          5
Wyoming                3
Louisiana              3
Name: count, dtype: int64

In [6]:
print("Checking for null values : ")
data.isnull().sum()

Checking for null values :

status                 0
bed               216528
bath              194213
acre_lot          357467
city                 191
state                  0
zip_code             479
house_size        450112
prev_sold_date    686293
price                108
dtype: int64

In [7]:
data.dropna(subset=['price', 'city' ,'zip_code'], inplace=True)
data['bed'].fillna(data['bed'].median(), inplace=True)
data['bath'].fillna(data['bath'].mean(), inplace=True)
data['acre_lot'].fillna(data['acre_lot'].mean(), inplace=True)
data['house_size'].fillna(data['house_size'].mean(), inplace=True)

data.isnull().sum()

status                 0
bed                    0
bath                   0
acre_lot               0
city                   0
state                  0
zip_code               0
house_size             0
prev_sold_date    685717
price                  0
dtype: int64

In [8]:
data.isnull().sum()

status                 0
bed                    0
bath                   0
acre_lot               0
city                   0
state                  0
zip_code               0
house_size             0
prev_sold_date    685717
price                  0
dtype: int64

In [14]:
states, count = np.unique(data['state'], return_counts=True)

In [15]:
print("States : ", states)
print("Count : ", count)

States :  ['Connecticut' 'Delaware' 'Georgia' 'Maine' 'Massachusetts'
 'New Hampshire' 'New Jersey' 'New York' 'Pennsylvania' 'Puerto Rico'
 'Rhode Island' 'South Carolina' 'Tennessee' 'Vermont' 'Virgin Islands'
 'Virginia' 'West Virginia' 'Wyoming']
Count :  [ 98812   2129     50  36650 177156  51394 256468 652730  20041  24550
  29610     25     20  48230   2522     31      5      3]

Their are 18 states in total

In [40]:
new_data1 = data.copy()
new_data1

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.000000,0.12,Adjuntas,Puerto Rico,601.0,920.000000,NaN,105000.0
1,for_sale,4.0,2.000000,0.08,Adjuntas,Puerto Rico,601.0,1527.000000,NaN,80000.0
2,for_sale,2.0,1.000000,0.15,Juana Diaz,Puerto Rico,795.0,748.000000,NaN,67000.0
3,for_sale,4.0,2.000000,0.10,Ponce,Puerto Rico,731.0,1800.000000,NaN,145000.0
4,for_sale,6.0,2.000000,0.05,Mayaguez,Puerto Rico,680.0,2178.735694,NaN,65000.0
...,...,...,...,...,...,...,...,...,...,...
1401061,for_sale,3.0,2.487507,155.00,Perrysburg,New York,14129.0,2178.735694,NaN,325000.0
1401062,for_sale,4.0,2.000000,0.36,Silver Creek,New York,14136.0,2026.000000,2000-09-01,187900.0
1401063,for_sale,10.0,4.000000,0.43,Brocton,New York,14716.0,4802.000000,1994-12-01,120000.0
1401064,for_sale,2.0,2.000000,0.14,Dunkirk,New York,14048.0,1568.000000,2003-04-15,92000.0
1401065,for_sale,5.0,2.000000,0.14,Angola,New York,14006.0,1908.000000,2016-01-12,99900.0

In [41]:
reduntant_states = ['Georgia', 'Virginia', 'West Virginia', 'Tennessee', 'Wyoming', 'South Carolina']
for t in reduntant_states:
    print(t)
    for x in new_data1['state']:
        if x == t:
            new_data1.drop([x], axis=0,inplace=True)

Georgia
Virginia
West Virginia
Tennessee
Wyoming
South Carolina

In [42]:
states, count = np.unique(new_data1['state'], return_counts=True)

In [43]:
print("States : ", states)
print("Count : ", count)

States :  ['Connecticut' 'Delaware' 'Maine' 'Massachusetts' 'New Hampshire'
 'New Jersey' 'New York' 'Pennsylvania' 'Puerto Rico' 'Rhode Island'
 'Vermont' 'Virgin Islands']
Count :  [ 98812   2129  36650 177156  51394 256468 652730  20041  24550  29610
  48230   2522]

In [45]:
new_data1.to_csv(r'/Users/saksham/Projects/Housing-Price/data/interim/housing_data.csv', index = False)

In [13]:
dataset = pd.read_csv('../data/interim/housing_data.csv');

In [14]:
dataset.head()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.000000,NaN,105000.0
1,for_sale,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.000000,NaN,80000.0
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.000000,NaN,67000.0
3,for_sale,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.000000,NaN,145000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,2178.735694,NaN,65000.0

In [18]:
dataset1 = dataset.copy()

In [19]:
dataset1 = dataset1[(dataset1['state'] == 'Puerto Rico')]

In [20]:
dataset1

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,3.0,2.000000,0.120000,Adjuntas,Puerto Rico,601.0,920.000000,NaN,105000.0
1,for_sale,4.0,2.000000,0.080000,Adjuntas,Puerto Rico,601.0,1527.000000,NaN,80000.0
2,for_sale,2.0,1.000000,0.150000,Juana Diaz,Puerto Rico,795.0,748.000000,NaN,67000.0
3,for_sale,4.0,2.000000,0.100000,Ponce,Puerto Rico,731.0,1800.000000,NaN,145000.0
4,for_sale,6.0,2.000000,0.050000,Mayaguez,Puerto Rico,680.0,2178.735694,NaN,65000.0
...,...,...,...,...,...,...,...,...,...,...
27623,for_sale,1.0,1.000000,32.156834,San Juan,Puerto Rico,907.0,812.000000,NaN,450000.0
27624,for_sale,3.0,2.487507,0.320000,Toa Baja,Puerto Rico,949.0,2178.735694,NaN,24900.0
27625,for_sale,4.0,3.000000,32.156834,San Juan,Puerto Rico,907.0,3000.000000,NaN,2975000.0
27626,for_sale,1.0,1.000000,0.070000,San Juan,Puerto Rico,995.0,4180.000000,NaN,410000.0
27627,for_sale,3.0,6.000000,32.156834,San Juan,Puerto Rico,907.0,5530.000000,NaN,2500000.0

In [21]:
dataset1.to_csv(r'/Users/saksham/Projects/Housing-Price/data/interim/Puerto_Rico.csv', index = False)

In [22]:
dataset2 = dataset[(dataset['state'] == 'Connecticut')]
dataset3 = dataset[(dataset['state'] == 'Delaware')]
dataset4 = dataset[(dataset['state'] == 'Maine')]
dataset5 = dataset[(dataset['state'] == 'Massachusetts')]
dataset6 = dataset[(dataset['state'] == 'New Hampshire')]
dataset8 = dataset[(dataset['state'] == 'New York')]
dataset9 = dataset[(dataset['state'] == 'New Jersey')]
dataset10 = dataset[(dataset['state'] == 'Pennsylvania')]
dataset11 = dataset[(dataset['state'] == 'Rhode Island')]
dataset12 = dataset[(dataset['state'] == 'Vermont')]
dataset13 = dataset[(dataset['state'] == 'Virgin Islands')]

In [23]:
dataset2.to_csv(r'/Users/saksham/Projects/Housing-Price/data/interim/Connecticut.csv', index = False)
dataset3.to_csv(r'/Users/saksham/Projects/Housing-Price/data/interim/Delaware.csv', index = False)
dataset4.to_csv(r'/Users/saksham/Projects/Housing-Price/data/interim/Maine.csv', index = False)
dataset5.to_csv(r'/Users/saksham/Projects/Housing-Price/data/interim/Massachusetts.csv', index = False)
dataset6.to_csv(r'/Users/saksham/Projects/Housing-Price/data/interim/New_Hampshire.csv', index = False)
dataset8.to_csv(r'/Users/saksham/Projects/Housing-Price/data/interim/New_York.csv', index = False)
dataset9.to_csv(r'/Users/saksham/Projects/Housing-Price/data/interim/New_Jersey.csv', index = False)
dataset10.to_csv(r'/Users/saksham/Projects/Housing-Price/data/interim/Pennsylvania.csv', index = False)
dataset11.to_csv(r'/Users/saksham/Projects/Housing-Price/data/interim/Rhode_Island.csv', index = False)
dataset12.to_csv(r'/Users/saksham/Projects/Housing-Price/data/interim/Vermont.csv', index = False)
dataset13.to_csv(r'/Users/saksham/Projects/Housing-Price/data/interim/Virgin_Islands.csv', index = False)