In [2]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('../data/raw/whole_data/realtor-data.zip.csv');
print("Data shape : " , data.shape)

Data shape :  (1401066, 10)

In [12]:
print("Data info :")
data.info()

Data info :
<class 'pandas.core.frame.DataFrame'>
Index: 1400426 entries, 0 to 1401065
Data columns (total 10 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   status          1400426 non-null  object
 1   bed             1400426 non-null  float64
 2   bath            1400426 non-null  float64
 3   acre_lot        1400426 non-null  float64
 4   city            1400426 non-null  object
 5   state           1400426 non-null  object
 6   zip_code        1400426 non-null  float64
 7   house_size      1400426 non-null  float64
 8   prev_sold_date  714709 non-null   object
 9   price           1400426 non-null  float64
dtypes: float64(6), object(4)
memory usage: 117.5+ MB

In [19]:
print("\nPossible no of values for : ", data['status'].value_counts())

print("\n\n Possible no value for : ", data['city'].value_counts())

print("\n\n Possible no value for : ", data['state'].value_counts())

Possible no of values for :  status
for_sale          1398565
ready_to_build       1861
Name: count, dtype: int64


 Possible no value for :  city
New York City    61299
New York         55538
Brooklyn         33489
Boston           31551
Bronx            22666
                 ...
Isla Verde           1
Solebury             1
Hato Rey             1
Condado              1
Kent Lakes           1
Name: count, Length: 3509, dtype: int64


 Possible no value for :  state
New York          652730
New Jersey        256468
Massachusetts     177156
Connecticut        98812
New Hampshire      51394
Vermont            48230
Maine              36650
Rhode Island       29610
Puerto Rico        24550
Pennsylvania       20041
Virgin Islands      2522
Delaware            2129
Georgia               50
Virginia              31
South Carolina        25
Tennessee             20
West Virginia          5
Wyoming                3
Name: count, dtype: int64

In [7]:
print("Checking for null values : ")
data.isnull().sum()

Checking for null values :

status                 0
bed               216528
bath              194213
acre_lot          357467
city                 191
state                  0
zip_code             479
house_size        450112
prev_sold_date    686293
price                108
dtype: int64

In [11]:
data.dropna(subset=['price', 'city' ,'zip_code'], inplace=True)
data['bed'].fillna(data['bed'].median(), inplace=True)
data['bath'].fillna(data['bath'].mean(), inplace=True)
data['acre_lot'].fillna(data['acre_lot'].mean(), inplace=True)
data['house_size'].fillna(data['house_size'].mean(), inplace=True)

data.isnull().sum()

status                 0
bed                    0
bath                   0
acre_lot               0
city                   0
state                  0
zip_code               0
house_size             0
prev_sold_date    685717
price                  0
dtype: int64